@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root {
	--green: #A5DE2D;
	--pink: #F82670;
	--dark: #272822;
	--light: #E2E2E0;
}

body {
	background-color: white;
	color: black;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

#banner img {
	width: 100%;
	height: auto;
	margin: 0;
}

nav {
	background-color: var(--dark);
	font-family: 'Roboto Mono', monospace;
	font-size: 17px;
	border-style: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 5px 10px grey;
	margin-top: -7px; 
	width: 100%;
	height: 39px;
	position: fixed;
	overflow: hidden;
}
nav a {
	float: left;
	color: var(--light);
	text-align: center;
	text-decoration: none;
	padding: 10px 0px 12px;
	width: 25%;
}
nav a:not(.active):hover {
	background-color: var(--green);
	color: var(--dark);
}
.active {
	background-color: var(--pink);
}

.body {
	background-color: var(--light);
	color: var(--dark);
	border-radius: 30px;
	box-shadow: 50px 0px 100px -40px var(--green), -50px -0px 100px -40px var(--pink);
	margin: 5% 10% 10px 10%;
	padding: 20px;
}